body{
    background-color: #3296BA;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    color: gray;
}

h3{
    display: flex;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

.mainContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navBar{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: 
    center;
    background-color: #102F3B;
    
}

.navBarItems{
    display: flex;
    width: 1024px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
}

.contentItems{
    display: flex;
    width: 1024px;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: #102F3B;
    border-radius: 10px;
}

.item{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    border: none;
    background: none;
}

.item:hover{
    scale: 110%;
}

.results{
    display: flex;
    margin-top: 30px;
    font-size: 26px;
    color: white;
    justify-content: center;
    gap: 40px;
}

.gameResults{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 22px;
    color: white;
}